.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  max-width: 70%;
}

.login label {
  font-size: 1.8rem;
  margin: 0.5rem 0;
  display: flex;
}

.login label > input {
  margin-left: 0.5rem;
}
