.hotel-search h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.hotel-search form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
.hotel-search form > * {
    margin: 1rem;
  }
  .hotel-search form > label {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
  }