.box {
  text-align: left;
  max-width: 40%;
  min-width: 20%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.box input {
  width: 60%;
}
.box button {
  padding: 0;
}

.box select {
  width: 90%
}

.box h3 {
  margin: 0;
  text-align: center;
}