.box {
  text-align: left;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.box label {
  width: 100%;
  display: flex;
}
.box input {
  width: 100%;
}
.box button {
  padding: 0;
}

.box select {
  width: 100%
}

.box h3 {
  margin: 0;
  text-align: center;
}