.itineraryNav {
  color: #f3f3f3;
  margin: 2rem auto 0 auto;
  border-radius: 1rem;
  font-size: 2.6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
  font-family: 'Raleway';
  font-weight: 400;
}

.itineraryNav > div {
  padding: 1rem 1.5rem;
  background: rgba(227,147,177,.9);
}

.itineraryNav > div:first-of-type {
  border-radius: 1rem 0 0 0;
}

.itineraryNav > div:last-of-type {
  border-radius: 0 1rem 0 0;
}


.itineraryNav > div:hover {
  background: rgba(235,179,200,0.9);
  cursor: pointer;
}

.itineraryNav > div.active {
  text-decoration: underline;
  color: #fff;
}