nav {
  background: #fff;
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Raleway';
  font-weight: 400;
}
nav ul {
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul.nav-login {
  width: 30%;
  justify-content: flex-end;
}
nav li {
  display: flex;
  height: 100%;
  padding: 1.5rem 1.5rem;
  align-items: center;
}

nav li a {
  font-size: 2rem;
  color: #333;
  text-decoration: none;
}

nav li:hover {
  /* text-decoration: underline; */
  background: #eee;
}

nav li.logo {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}

li.logo img {
  height: 4rem;
  width: 6rem;
  border: none;
}