.box {
  display: flex;
  flex-wrap: wrap;
}

.flightDate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 2rem;
  max-width: 20%;
}

.flightDate > * {
  margin: 1rem 0;
}

.searchInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}