/* @import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

.App h2 {
  font-family: 'Ramabhadra', sans-serif;
  font-size: xx-large;
}

.App h3 {
  font-size: large;
} */

 main {
  text-align: center;
}

/* .App p {
  font-size: medium;
} */




