
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300;400;600&display=swap');

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: #333;

  background-image: url('./img/wing_bg.jpg');
  background-size: cover;
  background-position: top center;

  --light-pink: #e393b1;
  --dark-pink: #ad7199;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  background: rgba(255,255,255,.9);
  min-width: 80%;
  max-width: 90%;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

h1 {
  color: #333;
  font-size: 2rem;
  padding: 0;
  margin: 0 0 1rem 0;
  font-family: 'Raleway';
  font-weight: 300;
}

input {
  font-family: 'Montserrat'
}
