.twoColumns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: max-content;
  margin: 0 auto;
}

.twoColumns > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.colOne {
  align-items: flex-end;
}

.colOne img {
  width: 320px;
  height: 210px;
  border-radius: 1rem;
}

.colTwo {
  align-items: flex-start;
  padding-left: 2rem;
}

.colTwo h2 {
  text-align: left;
  margin: 0;
  padding: 1rem 0;
  font-size: 4rem;
}

.colTwo p {
  margin: 2rem 0 0 0;
  padding: 0;
}

.buttons > button {
  margin: 1rem 0 0 1rem;
}

.buttons > button:hover {
  color: var(--dark-pink)
}

button.danger {
  margin: 0.5rem 0;
  color: rgba(200, 50, 50, 1);
}